body {
    font-size: 1em;
    color: rgb(80,80,80);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

h1{
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;}

.para-credit{text-align: right;}

.para-credit a{
    color: rgb(84, 116, 204);
    text-decoration: none;}

.intro{
    line-height: 1.5em;
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;}

.container{
    max-width: 950px;
    box-sizing: border-box;
    margin: auto;
    padding: 10px;}

.lien-github {
    transition: color 0.3s;
    color: rgb(150,150,150);
    font-size: 0.9em;
    text-decoration: none;}
.lien-github:hover{color: rgb(118, 148, 229);}

.lien-github img{
    vertical-align: middle;
    height: 25px;}

.logo-phototheque {
    height: 30px;
    margin-right: 5px;
    vertical-align: bottom;
    margin-bottom: 5px;
}
