body {
    color: rgb(80,80,80);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

h1{
    font-weight: normal;
    text-align: center;
    margin-bottom: 8px;}

.para-credit{text-align: right;}

.para-credit a{text-decoration: none;}

.intro{
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;}

.container{padding: 10px;}